#body {
  display: grid;
  margin: 0em;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 2.5em auto 10em;
  grid-template-areas:
  "topBar topBar topBar"
  ". game ."
  ". game-desc .";
}

#top-bar {
  grid-area: topBar;
}

#game-container {
  grid-area: game;
  display: flex;
  justify-content: center;
}

#game-desc {
  grid-area: game-desc;
}