#body {
  display: grid;
  margin: 0em;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto 12em;
  grid-template-areas:
  "topBar topBar topBar"
  "game game-desc game-desc"
  ". . .";
  background-image: url("/assets/images/backgrounds/arcade.png");
 background-attachment: fixed;
  
}

.full-height {
	
	
	position: relative;
z-index: 10;
	height: 400px;
}

#top-bar {
  border: 1px solid;
  padding: 25px;
  grid-area: topBar;
  height: 200px;
  
}

#game-container {
  border: 1px solid red;
  grid-area: game;
  position: relative;
  justify-content: center;
 
}
#game-container canvas {

  border: 50px solid rgb(27, 27, 27);

  /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
  
}
#game-desc {
  border: 1px solid blue;
  grid-area: 'game-desc';
  
  
}
