#top-bar {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: auto auto 15%;
  grid-template-areas: 
  ". . ."
  ". content ."
  ". . .";
  
  justify-content: center;
}

/* #top-bar img {
  grid-area: content;
  margin: 0em;
} */